:root {
    --blue-100: #4285F4;
    --blue-75: #4285F4BF;
    --blue-50: #4285F480;
    --blue-25: #4285F440;
}

* {
    color: var(--blue-100);
}

body {
    width: 300px;
    height: 150px;

    margin: 0;
    margin-top: 5px;
}

#header {
    width: 100%;
    height: 25px;

    position: fixed;

    border-bottom: 2px solid var(--blue-100);
}

#icon {
    height: 20px;

    margin-left: 10px;
    margin-right: 5px;
}

#title {
    position: absolute;

    line-height: 25px;
    font-size: 15px;
}

#switch {
    width: 30px;
    height: 20px;

    position: absolute;
    right: 10px;
    margin-top: 2px;
}

#switch input {
    width: 0;
    height: 0;

    opacity: 0;
}

#switch-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: var(--blue-25);

    border-radius: 10px;

    cursor: pointer;

    transition: 0.1s;
}

#switch-slider:before {
    position: absolute;
    
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;

    background-color: var(--blue-100);

    border-radius: 100%;

    color: #fff;
    line-height: 16px;
    font-size: 8px;
    text-align: center;
    font-weight: bold;
    content: "OFF";

    transition: 0.1s;
}

#switch-checkbox:checked + #switch-slider {
    background-color: var(--blue-50);
}

#switch-checkbox:checked + #switch-slider:before {
    transform: translateX(10px);

    content: "ON";
}

#content {
    width: 100%;

    position: fixed;
    margin-top: 35px;
}

#slider {
    -webkit-appearance: none;

    width: 90%;
    height: 5px;

    margin-left: 50%;
    transform: translate(-50%);

    background-color: var(--blue-25);

    border-radius: 2.5px;

    outline: none;

    opacity: 1;

    transition: opacity 0.1;
}

#slider:disabled {
    opacity: 0.5;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    appearance: none;

    width: 20px;
    height: 20px;

    background-color: var(--blue-100);

    border-radius: 100%;

    cursor: pointer;
}

#min {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}

#max {
    position: absolute;
    right: 10px;
    margin-top: 5px;
}

#volume-cap-text {
    font-size: 15px;
    font-weight: bold;
}

#show-hide-visual {
    height: 20px;

    background-color: transparent;

    border: 1px solid var(--blue-100);
    border-radius: 10px;

    outline: none;

    opacity: 1;

    color: var(--blue-100);

    cursor: pointer;

    transition: all 0.1s;
    transition-property: background-color, color, opacity;
}

#show-hide-visual:hover {
    background-color: var(--blue-100);

    color: #fff;
}

#show-hide-visual:disabled {
    opacity: 0.5;
}