:root {
    --blue-100: #4285F4;
    --blue-75: #4285F4BF;
    --blue-50: #4285F480;
    --blue-25: #4285F440;
}

#volume-capper-visual {
    width: 250px;
    height: 75px;
    
    position: fixed;
    margin-left: 10px;
    bottom: 10px;
    
    z-index: 1000;
    
    background-color: var(--blue-25);
    
    border: 2px solid var(--blue-100);
    border-radius: 5px;
}